Source: goopg
Section: python
Priority: extra
Maintainer: Leo Iannacone <l3on@ubuntu.com>
Build-Depends: debhelper (>= 8),
               dh-buildinfo,
               dh-python,
               python | python-all | python-dev | python-all-dev
Standards-Version: 3.9.8
Homepage: http://leoiannacone.github.io/goopg/
Vcs-Git: https://github.com/LeoIannacone/goopg.git
Vcs-Browser: https://github.com/LeoIannacone/goopg/

Package: goopg-common
Architecture: all
Depends: python,
         python-gflags,
         python-gnupg,
         python-googleapi,
         python-oauth2client (>= 2.0.1-1),
         python-xdg,
         gnupg-agent,
         gnupg2,
         ${misc:Depends}
Description: GPG for Gmail - common files
 Goopg is a an extension for Gmail which allows one to verify and sign
 emails in Gmail web page.
 .
 This package contains the common files

Package: goopg-chrome
Architecture: all
Depends: goopg-common (= ${binary:Version}), ${misc:Depends}
Description: GPG for Gmail - Chrome browser plugin
 Goopg is a an extension for Gmail which allows one to verify and sign
 emails in Gmail web page.
 .
 This package installs the plugin for the Chrome browser

Package: goopg-chromium
Architecture: all
Depends: goopg-common (= ${binary:Version}), ${misc:Depends}
Description: GPG for Gmail - Chromium browser plugin
 Goopg is a an extension for Gmail which allows one to verify and sign
 emails in Gmail web page.
 .
 This package installs the plugin for the Chromium browser
