#downloads {
    position: absolute;
    right: 10px;
    top: 10px;
}

header {
    background: url("../images/icon96.png") no-repeat right;
}

*, body, pre, header h1, h1, h2, h3, footer {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    color: #4d4d4d;
    text-shadow: none;
}

strong, b, #view-on-github {
    font-weight: 700;
}

pre, code {
    font-family: "Ubuntu Mono";
}

pre {
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
    padding: 10px 15px;
}

code {
    padding: 4px 6px 3px;
    border-radius: 3px;
}

p img {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

a {
    color: #ff4200;
    border-bottom: 1px dotted #AAA;
    text-decoration: none;
}

a:hover {
    color: #F3193D;
    border-bottom: 1px dotted #888;
}

a#view-on-github:hover {
    color: #303030;
}

#donation {
    border: 1px solid #f0f0f0;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    padding: 10px;
    font-size: 80%;
    border-radius: 3px;
}

#donation form {
    background: transparent;
    padding: 0;
}

#donation p {
    margin-bottom: 14px;
}
